@font-face {
  font-family: "Dosis";
  src: url(Dosis-SemiBold.ttf);
}

html {
  font-family: "Dosis"
}

body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  text-align:center;
  background-image: url(somerandombackgroundimageimadequitelongagobutdidntuseuntilnow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.class {
  color: #cbecec;
  background-color: rgba(17,17,28,0.8);
  height: 100%;
  width: 70%;
  position: absolute;
  top: 0%;
  left: 15%;
  font-size: x-large;
}

.bruh {
  position: absolute;
  top: 100%;
  left: 0%;
  font-size: x-large;
}

a:link {
  color: #96b7f8;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #6279ea;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e0fdff;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #59c0a1;
  background-color: transparent;
  text-decoration: underline;
}